USE [master]
GO
/****** Object:  Database [KutuphaneProgDb]    Script Date: 23.11.2021 19:29:20 ******/
CREATE DATABASE [KutuphaneProgDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneProgDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KutuphaneProgDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneProgDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KutuphaneProgDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneProgDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneProgDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kitap]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[SiraNo] [varchar](20) NOT NULL,
	[Adet] [int] NOT NULL,
	[EklenmeTarihi] [datetime] NOT NULL,
	[YazarId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Kitap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KitapKategori]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KitapKategori](
	[Kitap_Id] [int] NOT NULL,
	[Kategori_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.KitapKategori] PRIMARY KEY CLUSTERED 
(
	[Kitap_Id] ASC,
	[Kategori_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OduncKitap]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncKitap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KitapId] [int] NOT NULL,
	[UyeId] [int] NOT NULL,
	[AlisTarihi] [datetime] NOT NULL,
	[GetirecegiTarih] [datetime] NOT NULL,
	[GetirdigiTarih] [datetime] NULL,
 CONSTRAINT [PK_dbo.OduncKitap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uye]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uye](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[SoyAd] [varchar](50) NOT NULL,
	[Tc] [char](11) NULL,
	[Tel] [char](11) NULL,
	[KayitTarihi] [datetime] NOT NULL,
	[Mail] [nvarchar](100) NULL,
	[Sİfre] [char](32) NULL,
	[Ceza] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uye] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yazar]    Script Date: 23.11.2021 19:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Yazar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([Id], [Ad]) VALUES (1, N'Bilgisayar')
INSERT [dbo].[Kategori] ([Id], [Ad]) VALUES (2, N'Edebiyat')
INSERT [dbo].[Kategori] ([Id], [Ad]) VALUES (3, N'Eğitim')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
GO
/****** Object:  Index [IX_YazarId]    Script Date: 23.11.2021 19:29:20 ******/
CREATE NONCLUSTERED INDEX [IX_YazarId] ON [dbo].[Kitap]
(
	[YazarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategori_Id]    Script Date: 23.11.2021 19:29:20 ******/
CREATE NONCLUSTERED INDEX [IX_Kategori_Id] ON [dbo].[KitapKategori]
(
	[Kategori_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kitap_Id]    Script Date: 23.11.2021 19:29:20 ******/
CREATE NONCLUSTERED INDEX [IX_Kitap_Id] ON [dbo].[KitapKategori]
(
	[Kitap_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UyeId]    Script Date: 23.11.2021 19:29:20 ******/
CREATE NONCLUSTERED INDEX [IX_UyeId] ON [dbo].[OduncKitap]
(
	[UyeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kitap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Kitap_dbo.Yazar_YazarId] FOREIGN KEY([YazarId])
REFERENCES [dbo].[Yazar] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kitap] CHECK CONSTRAINT [FK_dbo.Kitap_dbo.Yazar_YazarId]
GO
ALTER TABLE [dbo].[KitapKategori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KitapKategori_dbo.Kategori_Kategori_Id] FOREIGN KEY([Kategori_Id])
REFERENCES [dbo].[Kategori] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KitapKategori] CHECK CONSTRAINT [FK_dbo.KitapKategori_dbo.Kategori_Kategori_Id]
GO
ALTER TABLE [dbo].[KitapKategori]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KitapKategori_dbo.Kitap_Kitap_Id] FOREIGN KEY([Kitap_Id])
REFERENCES [dbo].[Kitap] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KitapKategori] CHECK CONSTRAINT [FK_dbo.KitapKategori_dbo.Kitap_Kitap_Id]
GO
ALTER TABLE [dbo].[OduncKitap]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OduncKitap_dbo.Uye_UyeId] FOREIGN KEY([UyeId])
REFERENCES [dbo].[Uye] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OduncKitap] CHECK CONSTRAINT [FK_dbo.OduncKitap_dbo.Uye_UyeId]
GO
USE [master]
GO
